<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-white text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">We are Netflix</h5>
          <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi consequatur praesentium perferendis voluptas repellat enim consequuntur, minima maxime quasi quidem fuga minus eius accusantium fugiat, ipsam quos asperiores nihil in.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Social</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="pd-lg text-white text-decoration-none" style="padding:2px;" href="#">Facebook</a>
            </li>
            <li>
              <a class="text-white text-decoration-none" style="padding:2px;" href="">Twitter</a>
            </li>
            <li>
              <a class="text-white text-decoration-none" style="padding:2px;" href="">Instagram</a>
            </li>
            <li>
              <a class="text-white text-decoration-none" style="padding:2px;" href="#!">Discord</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Updates</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="text-white text-decoration-none" href="#!"></a>
            </li>
            <li>
              <a class="text-white text-decoration-none" href="#!">Feeds</a>
            </li>
            <li>
              <a class="text-white text-decoration-none" href="#!">Article</a>
            </li>
            <li>
              <a class="text-white text-decoration-none" href="#!">News</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a class="text-white text-decoration-none" href="#">© 2020 Copyright: Netflix.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
